<div class="infocolumn">
  <img class="img-circle" src="holder.js/250x250" alt="" />
  <div class="row">
    <div class="col-xs-2" id="color1">
      Lol
    </div>    
    <div class="col-xs-2" id="color2">
      Lol
    </div>    
    <div class="col-xs-2" id="color3">
      Lol
    </div>    
    <div class="col-xs-2" id="color4">
      Lol
    </div>    
    <div class="col-xs-2" id="color5">
      Lol
    </div>    
    <div class="col-xs-2" id="color6">
      Lol
    </div>    
  </div>
</div>
